* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: #000;
  width: 340px;
  border-radius: 1rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  margin-left: 0.5rem;
  background: linear-gradient(to bottom, #232323, transparent);
}

.music-player {
  background-color: #000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  height: 100px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  transition: opacity 0.35s ease;
  padding: 0.25rem 0.75rem;
}

.nav-option:hover {
  opacity: 1;
}

.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

.library {
  margin-top: 0.5rem;
  background-color: #121212;
  height: 100%;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
}

.lib-icon {
  height: 1.15rem;
  width: 1.15rem;
  position: relative;
  top: 2px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
}

.icons i {
  font-size: 1rem;
  margin-right: 1rem;
  opacity: 0.7;
  transition: opacity 0.35s ease;
}

.icons i:hover {
  opacity: 1;
}

.box {
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.5rem 0 1.25rem 0;
  padding: 0.5rem 1.25rem 0.85rem 1rem;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 550;
}

.box-p2 {
  font-size: 0.85rem;
  opacity: 0.9;
}

.badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.badge:hover {
  transform: scale(1.05);
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #232323;
  display: flex;
  align-items: center;
  padding: 1rem 0.75rem;
  justify-content: space-between;
}

.sticky-nav-icons img {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1);
  transition: all 0.3s ease;
  margin-left: 1rem;
}

.sticky-nav-icons img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sticky-nav-options button {
  margin-top: 0;
  padding: 0.35rem 1rem;
}

.sticky-nav-options > i {
  cursor: pointer;
  margin-right: 1.5rem;
}

.install-btn {
  color: white;
  background-color: #000000;
}

.badge i {
  margin-right: 0.35rem;
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}

.cards {
  padding: 0rem 1.25rem;
}

.card1_section {
  margin-top: 1.15rem;
}

.card1_title {
  display: Flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0rem 1.5rem;
}

.card1_title h1 {
  font-size: 1.5rem;
  margin: 1rem 0rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card1_title h1:hover {
  text-decoration: underline;
}

.card1_title a {
  font-size: 0.75rem;
  margin: 1rem 0rem;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card1_title a:hover {
  opacity: 1;
  text-decoration: underline;
}

.popular_artists {
  display: flex;
  justify-content: space-evenly;
}

.singer_container {
  display: inline-block;
  padding: 12px 10px 15px 10px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.singer_container:hover {
  background-color: #232323;
}

.singer_image {
  height: 9.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.singer_container:hover .singer_image {
  box-shadow: 0px 0px 20px 7px #121212;
}

.singer_details {
  margin-top: 0.75rem;
  margin-left: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  color: #fff;
}

.singer_name {
  font-weight: 500;
  font-size: 1rem;
}

.singer_role {
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.7;
}

.image_play {
  position: relative;
}

.play_symbol {
  background-color: #1ed760;
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
  right: 1px;
  opacity: 0;
  transform: scale(1);
  transition: all 0.5s ease;
}

.play_symbol:hover {
  transform: scale(1.05);
}

.play_triangle {
  font-size: 1rem;
  color: #000;
}

.singer_container:hover .play_symbol {
  opacity: 1;
  bottom: 5px;
}
